.search-box{
    position: relative;    
    font-size: .8333333333rem;
    .search-input{
        padding-left: 2rem;
        padding-right: 2rem;
        line-height: 1.7;
        border-radius: 50rem;
        -webkit-box-shadow: none;
        box-shadow: none;  
    }
    .search-box-icon{
        position: absolute;
        color: var(--falcon-400);
        top: 50%;
        left: 0.9rem;
        -webkit-transform: translateY(-48%);
        -ms-transform: translateY(-48%);
        transform: translateY(-48%);
    }
}